<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
</style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1440px;
    height: 7086px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 12.5px;
}

.logo img{
    width: 130px;
    height: 58px;
}

.nav-area{
    width: 361px;
    height: 24px;
    margin-top: 12px;
    gap: 40px;
}

.nav-area ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 40px;
}

.nav-area li{
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    text-align: left;
}

.nav-area li a{
    text-decoration: none;
    color: #181a18;
}

#hero{
    background: url(/images/Image\ \(1\).png) no-repeat center center/cover;
    min-width: 1440px;
    min-height: 767px;
    padding-top: 140px;
    margin-top: 12.5px; 
    
}

.text{
    width: 493px;
    height: 336px;
    padding: 60px 80px 60px 80px;
    gap: 32px;
    border-radius: 0px 60px 60px 0px;
    background: #FFFFFF;
}

.text h1{
    width: 305px;
    height: 120px;
    gap: 0px;
    font-family: Lato;
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;

}

.text p{
    width: 325px;
    height: 72px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}


.futimg{
    width: 1280px;
    height: 378px;
    top: 1020px;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    align-content: center;

}

.futimg1{
    width: 640px;
    height: 378px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.futimg2{
    width: 320px;
    height: 189px;
    top: 189px;
    border-radius: 0px 0px 0px 60px;

}

.text2{
    width: 640px;
    height: 143px;
    left: 640px;
    padding: 120px 80px 120px 80px;
    gap: 32px;
    border-radius: 0px 60px 60px 0px;
    background: #F2F0F2;
    
}

.text2 h1{
    width: 480px;
    height: 54px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    
}

.text2 p{
    width: 480px;
    height: 60px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 100px;

}

.text3{
    width: 1440px;
    height: 480px;
    top: 1538px;
    padding: 0px 80px 0px 80px;
    gap: 60px;

}

.text3 h1{
    width: 847px;
    height: 108px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;

}

.text3 p{
    width: 847px;
    height: 48px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}

.container{
    width: 1280px;
    height: 248px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-content: center;

}

.square1{
    width: 305px;
    height: 248px;
    padding: 32px 40px 32px 40px;
    gap: 16px;
    border-radius: 30px 0px 0px 0px;
    background: #E2F1E8;
}

.square1 h3{
    width: 225px;
    height: 32px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

.square1 p{
    width: 225px;
    height: 60px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.square2{
    width: 305px;
    height: 248px;
    padding: 32px 40px 32px 40px;
    gap: 16px;
    border-radius: 30px 0px 0px 0px;
    background: #E2F1E8;
}

.square2 h3{
    width: 225px;
    height: 32px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

.square2 p{
    width: 225px;
    height: 40px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.square3{
    width: 305px;
    height: 248px;
    padding: 32px 40px 32px 40px;
    gap: 16px;
    border-radius: 30px 0px 0px 0px;
    background: #E2F1E8;
}

.square3 h3{
    width: 225px;
    height: 32px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

.square3 p{
    width: 225px;
    height: 60px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.square4{
    background: #E2F1E8;
    width: 305px;
    height: 248px;
    padding: 32px 40px 32px 40px;
    gap: 16px;
    border-radius: 30px 0px 0px 0px;

}

.square4 h3{
    width: 225px;
    height: 32px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

.square4 p{
    width: 225px;
    height: 40px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

.location{
    width: 1280px;
    height: 280px;
    gap: 20px;
    display: flex;
    flex-direction: row;

}

.text4 h1{
    width: 452px;
    height: 54px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin-bottom: 100px;

}

.location1 caption{
    width: 196px;
    height: 32px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;

}

.location1 img{
    width: 196px;
    height: 196px;
    padding: 32px 40px 32px 40px;
    gap: 16px;
    border-radius: 30px 0px 0px 0px;

}

.bespoke img {
    width: 1440px;
    height: 506px;
    padding: 140px 80px 140px 80px;
    gap: 60px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);

}

.text6 {
    width: 1440px;
    height: 526px;
    top: 3306px;
    padding: 140px 80px 0px 80px;
    display: flex;
    flex-direction: row;
    }

.grouptxt{
    width: Fill 1280px;
    height: 118px;
    gap: 16px;

}

.grouptxt h1{
    width: 1280px;
    height: 54px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;

}

.grouptxt p{
    width: 1280px;
    height: 48px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
